@charset "UTF-8";
<?xml-stylesheet type="text/css" href="join.css"?>
/*헤더,풋터*/
h2{margin-bottom:30px;margin-top:0}
ul,li{list-style-type:none;margin:0;padding:0}
header{width:100%;margin:0 auto;height:300px;font-size:1em;text-align:center;line-height:200px;position:fixed;top:0;z-index:400}
a:link,a:visited{text-decoration:none;color:#555}
a:hover{text-decoration:none;color:#000;font-weight:bold}
#menubar{width:1280px;margin:0 auto;height:70px;border-top:3px solid gray;background-color:white;}
#menubar>li{float:left;line-height:50px;width:13.7%;text-align:center;height:50px;font-size:20px;font-weight: bold;}
#menubar>li>ul{position:relative;border-top:3px solid #AF8D5D;z-index:100;display:none;width:500px;height:500px;background-color:white}
#menubar>li>ul>img{width:300px;height:400px;position:absolute;right:50px;margin-top:50px}
#menubar>li>ul>li{float:left;height:50px;position:relative;width:400px;text-align:left;left:20px;}
#crown{width:40px;height:20px}
footer{background-color:#F0F0F0;height:200px;bottom:0;position:relative;width:100%}
#section{width:1280px;margin:0 auto;margin-top:100px;text-align:center;position:relative;}
#homeFooter{margin:0;margin-left:30px;width:1280px;height:200px;position:relative;font-weight:bold;top:20px}
#homeFooterList{width:600px;height:100px;}
#homeFooterList li:first-child{margin-right:50px;margin-top:-30px}
#homeFooterList li{float:left;}
#companyIntroduction{width:300px;float:left;height:100px;}
#companyIntroduction>li{float:left;}

/*컨텐츠*/
#content{width: 1280; height: 1200px;}

#top{width: 800px; height: 200px; margin: 0 auto;}
h2{margin-bottom:0; margin-top: 200px; color: #9C836A; font-weight:bold; font-size: 2em;}
#text{margin: 0 0; width: 800px; height: 85px;}
#painting{width: 800px; height: 100px; }
#text>label{color: #E2E2E2; font-size: 1.3em; font-weight: bold;}

#bottom{width: 1280; height: 1000px; background: #F9F9F9}
#frame{width: 800px; height: 1000px; margin: 0 auto; background: #F9F9F9;}

#idpw1{width: 800px; height: 110px; margin-top: 30px;}
#idpw1>label:first-child{font-weight:bold; margin-top: 50px; font-size: 14px}
#idpw1>label:nth-child(4){font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#idpw1>label:nth-child(5){color: red}
#check{background-color: #A8A8A8; height: 40px; color: white; border: 1px solid #A8A8A8; margin-left: 7px; border-radius: 3px}
#l1{width: 50px; height: 50px; position: relative; font-size: 13px; color: red; left: 310px; top: -60px}
#id{width: 300px; height: 30px; margin-top: 5px}

#pwpw{width: 800px; height: 100px;}
#pwpw>div{float: left}

#idpw2{width: 350px; height: 70px; margin-top: 30px;}
#idpw2>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#idpw2>label:nth-child(2){color: red}
#pw1{width: 300px; height: 30px; margin-top: 5px}

#idpw3{width: 350px; height: 70px; margin-top: 30px; margin-left: 50px;}
#idpw3>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#idpw3>label:nth-child(2){color: red}
#pw2{width: 300px; height: 30px; margin-top: 5px}

#hr1{margin-top: 30px}
#info{width: 800px; height: 800px; }


#name{width: 800px; height: 110px;}
#name>div{float: left}

#koname{width: 350px; height: 110px;}
#koname>label:first-child{font-weight:bold; margin-top: 50px; font-size: 14px}
#koname>label:nth-child(4){font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#koname>label:nth-child(5){color: red}
#kname{width: 300px; height: 30px; margin-top: 5px}

#enname{width: 350px; height: 70px; margin-top: 43px; margin-left: 50px;}
#enname>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#enname>label:nth-child(2){color: red}
#ename1{width: 140px; height: 30px; margin-top: 5px}
#ename2{width: 140px; height: 30px; margin-top: 5px; margin-left: 8px}

#l2{width: 50px; height: 50px; font-size: 13px; color: red; margin-left: 700px; margin-top: 50px}

#birth{width: 350px; height: 110px;}
#mid{width: 800px; height: 110px; margin-top: 40px}
#mid>div{float: left}
#year{width: 94px; height: 30px; margin-top: 5px}
select{width: 94px; height: 37px; margin-top: 5px; margin-left: 3px}
#birth>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#birth>label:nth-child(2){color: red}

#tel{width: 330px; height: 110px; margin-left: 50px;}
#t1{width: 83px; height: 30px; margin-top: 5px}
#t2{width: 83px; height: 30px; margin-top: 5px}
#t3{width: 83px; height: 30px; margin-top: 5px}
#tel>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#tel>label:nth-child(2){color: red}

#mid2{width: 800px; height: 300px; margin-top: 40px}
#mid2>div{float: left}
#email>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#email>label:nth-child(2){color: red}
#e{width: 300px; height: 30px; margin-top: 5px}
#m1,#m2,#m3,#m5{color: #A8A8A8;}
#email{width: 398px; height: 300px;}

#address{width: 398px; height: 300px;}
#address>label:first-child{font-weight:bold; margin-top: 50px; font-size: 13px; color: #9C836A}
#address>label:nth-child(2){color: red}

#a1{width: 140px; height: 30px; margin-top: 5px}
#a2{background-color: #A8A8A8; width: 140px; height: 40px; margin-top: 5px; margin-left: 8px;  color: white; border: 1px solid #A8A8A8;  border-radius: 3px}
#a3, #a4{width: 300px; height: 30px; margin-top: 8px}
#next{margin-top: 10px; margin-left: 650px; width: 150px; height: 50px; color: white; border: 1px solid #A8A8A8; background: #A8A8A8; font-size: 1.5em; border-radius: 3px}