@charset "UTF-8";
#siteMap a:link, #siteMap a:visite
				{text-decoration:none;
				color:#000}
#siteMap a:hover{
	text-decoration:none;
	color:blue;
}			

#content{
	width:900px;
	margin:0 auto;
}
#logo{
	border-bottom:3px solid blue;
}

#siteMAp{
	height:50px
}
#logFrm, #banner{
	float:left;
	height:260px;
	
}

#logFrm{
	width:475px;
	padding-top:40px;
	text-align:center}
#banner{width:425px}
#member{background:#fff;display:none}
#noneMember{background:orange;display:none}

#logFrm>input[value=mem]:checked ~#member{
	display:block;
}
#logFrm>input[value=nonMem]:checked ~#nonMember{
	display:block;
}

#member>div{float:left}

#f1,#f2{height:95px}
#f1{width:370px}
#f2{width:95px;margin-right:10px}
#f3{width:475px}

#f2>input{width:100%;height:100%;
		  background:blue;color:#fff;
		  font-size:1.5em;font-weight:bold;
		  border:1px solid blue;
		  border-radius:10px 10px 10px 10px}
		  
#f1 div, #f1 input{
	float:left;
	margin:12px 0px
}
#f1 div{width:100px}
#f1 input{width:250px}
#f3{
	line-height:50px
}		  