@charset "UTF-8";
h2{margin-bottom:30px;margin-top:0}
ul,li{list-style-type:none;margin:0;padding:0}
header{width:100%;margin:0 auto;height:300px;font-size:1em;text-align:center;line-height:200px;position:fixed;top:0;z-index:400}
a:link,a:visited{text-decoration:none;color:#555}
a:hover{text-decoration:none;color:#000;font-weight:bold}
#menubar{width:1280px;margin:0 auto;height:70px;border-top:3px solid gray;background-color:white;}
#menubar>li{float:left;line-height:50px;width:13.7%;text-align:center;height:50px;font-size:20px;font-weight: bold;}
#menubar>li>ul{position:relative;border-top:3px solid #AF8D5D;z-index:100;display:none;width:500px;height:500px;background-color:white}
#menubar>li>ul>img{width:300px;height:400px;position:absolute;right:50px;margin-top:50px}
#menubar>li>ul>li{float:left;height:50px;position:relative;width:400px;text-align:left;left:20px;}
#crown{width:40px;height:20px}
footer{background-color:#F0F0F0;height:200px;bottom:0;position:relative;width:100%}
#section{width:1280px;margin:0 auto;margin-top:100px;text-align:center;position:relative;}
#homeFooter{margin:0;margin-left:30px;width:1280px;height:200px;position:relative;font-weight:bold;top:20px}
#homeFooterList{width:600px;height:100px;}
#homeFooterList li:first-child{margin-right:50px;margin-top:-30px}
#homeFooterList li{float:left;}

#companyIntroduction{width:300px;float:left;height:100px;}
#companyIntroduction>li{float:left;}