@charset "UTF-8";

h2{margin-bottom:30px;margin-top:0}
ul,li{list-style-type:none;margin:0;padding:0}
.font_main{
	display: inline-block;
	color: #333;
    font-size: 20px;
    font-weight: bold;
}
.font_content{display: inline-block;
    color: #333;
    font-size: 18px;
    font-weight: bold;}
.font_sub{
	font-size:12px;
	color: #101010;
}
.img_icon{
	width:40px;
}

/*header*/
header{width:100%;margin:0 auto;height:100px;font-size:1em;text-align:center;line-height:200px;position:sticky;top:0;z-index:400}
a:link,a:visited{text-decoration:none;color:#555}
a:hover{text-decoration:none;color:#000;font-weight:bold}
#menubar{width:1280px;margin:0 auto;height:70px;border-top:3px solid gray;background-color:white;}
#menubar>li{float:left;line-height:50px;width:13.7%;text-align:center;height:50px;font-size:20px;font-weight: bold;}
#menubar>li>ul{position:relative;border-top:3px solid #AF8D5D;z-index:100;display:none;width:500px;height:500px;background-color:white}
#menubar>li>ul>img{width:300px;height:400px;position:absolute;right:50px;margin-top:50px}
#menubar>li>ul>li{float:left;height:50px;position:relative;width:400px;text-align:left;left:20px;}
#crown{width:40px;height:20px}
/*footer*/
footer{background-color:#F0F0F0;height:200px;bottom:0;position:relative;width:100%;}
#homeFooter{margin:0;margin-left:30px;width:1280px;height:200px;position:relative;font-weight:bold;top:20px}
#homeFooterList{width:600px;height:100px;}
#homeFooterList li:first-child{margin-right:50px;margin-top:-30px}
#homeFooterList li{float:left;}

#companyIntroduction{width:300px;float:left;height:100px;}
#companyIntroduction>li{float:left;}

/*rsv 메인 */
.container{width:1280px; margin:0 auto;}
.rsv_title{width:800px; height:50px; margin:0 auto;
		   font-size:2em; text-align:center; 
		   line-height:50px;}
.rsv_wrap{with:1280px; margin-top:20px;}		   
.rsv_select{width:1280px; height:100px; 
			padding:5px 50px; 
			border-top:2px solid #856f56;
			border-bottom: 7px solid #f7f7f7;
			}
.rsv_select>div{float:left; text-align:center; margin:5px 5px; }
.rsv_chk{width:20%; height:80px;}
.stay{width:10%; height:80px;}
.rsv_cnt{width:10%; height:80px;}
.rsv_btn_search{width:10%; height:60px;
 				text-align:center; line-height:60px;
				}
.rsv_calendar{width:1280px;}
.calendar_box{height:320px; padding:0 180px 0 180px;}
.calendar_box>a{position:absolute;}
.calendar_box>div{float:left;width:50%;}
.src_calendar>div, .dest_calendar>div{text-align:center;}
.calendar_btn{height:30px; text-align:center;}
.rsv_btn_search>a{display:block;width:100%;height:60px;
					line-height:60px;
					text-align:center;
					text-decoration:none;
  					color:#fff;
  					font-family: 돋움;
  					background-color:#3E2B2C;
				  }


.rsv_bookable_list{width:1280px;margin-top:30px;}
.rsv_bookable_list>ul{width:1280px;}
.rsv_sort{height:30px;border-bottom:1px solid #f1f1f1;}
.rsv_sort>li{width:120px; height:20px; line-height: 20px;}
.rsv_sort>li:first-child{padding: 0 12px 13px 12px;
    					text-align: center;
    					color: #727272;
    					background:#fff;
    					float:left;}
.rsv_sort>li:nth-child(2){
    float:left;
}
.rsv_sort>li:nth-child(3){
    float:right;
}
.rsv_sort>li:nth-child(4){
    float:right;
}

    										
.room_item_wrap>li{width:1280px;border-bottom:1px solid #f1f1f1;
					margin-bottom:30px;}
.rsv_item{width:100%; height:180px;
			margin:20px 0px;
				}
.rsv_item>div{height:150px;float:left;} 					    
.rsv_item>div:first-child{width:25%;padding:10px 5px;
								margin:5px 0;
								text-align:center; overflow:hidden}
.rsv_item>div:first-child>img{width:100%;}
.rsv_item>div:nth-child(2){width:30%; padding:20px 0px 10px 30px;}
.rsv_item>div:nth-child(3){width:25%; padding:20px 0px 10px 0px;}
.rsv_item>div:last-child{width:20%; padding:20px 0px 10px 0px;
							 }
.rsv_btn_step1{text-align:center;
				}
.rsv_btn_step1>a{	display:block;width:50%;height:50px;
					line-height:50px;
					text-align:center;
					text-decoration: none;
  					color:#fff;
  					font-family: 돋움;
  					}
.rsv_item>div:nth-child(2)>a>span{
	font-size:12px;
	color:#b07748;
}

.rsv_bed_wrap{ display:none;
	width:100%;border:1px solid #dcdcdc;}
.rsv_bed_wrap>div{width:100%;}
.rsv_bed_roomName{height:50px; color:#333;
				  padding:0 20px;
   				  font: normal 16px Arial;
    			  line-height: 50px;
				  background-color:#f7f7f7;}
		
.rsv_bed_item{
			  height:60px;
			  padding:5px 20px;
			  border-top:1px solid #dcdcdc;	
			  border-bottom:1px solid #dcdcdc;
}
.rsv_bed_item>div{height:50px;line-height:50px;}		
.rsv_bed_item>div:nth-child(1){width:20%; float:left}
.rsv_bed_item>div:nth-child(1) span{margin:0 5px 0 0;}
.rsv_bed_item>div:nth-child(2){width:20%; float:left}
.rsv_bed_item>div:last-child{width:40%; float:right; text-align:right:}	
.rsv_bed_item>div:last-child>span{float:right;margin:0 0 0 20px;}	

/* popup 메뉴 , 모달 */
.popup{width:950px;
	   display:none;
	   position:fixed;
	   left:200px;top:200px;
	   z-index:10;
	   }

.popup_head{width:100%;height:30px;  
			background-color:#9b7f5b;
			border:#9b7f5b solid 5px;}
.popup_title{width:70%;height:27px;
	   font-size:16px;
	   font-weight:bold;
	   padding:5px 0 0 25px;color:#ccc;
	   float:left;}
.popup_head>div:nth-child(2){float:right; padding:5px 22px 0 0;						
						   width:19px; height:19px;}
.popup_content{width:100%;
			   height:1000px;
			   border:#9b7f5b solid 5px;
			   background-color:#FFF;
			  }
#modal{display:none;
	   position:fixed;
	   width:100%;
	   height:100%;
	   background:#ddd; opacity:0.5;
	   top:0px; left:0;
}

/*예약 옵션:rservation_option*/
.title{text-align: center; font-size:2em;}
.sub_title{width:100%;font-size:16px;
		   padding: 0 30px;
		   line-height:50px;
		   font-weight:bold;	   
}
.option_item_title{
	background-color:#f7f7f7; 
	border-right:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
}
.content{
	width:100%; 
	border:1px solid #dcdcdc;
	margin:0 0 50px 0;
}
.height_s{min-height:150px;}
.height_m{min-height:300px;}
.height_l{min-height:500px;}

.item{width:50%;float:left;padding:5px;}

.item_form{padding:5px 30px; font-size:14px;
					margin:5px 0 30px 0; }
.form_center{text-align:center; width:100%;
			 margin:10px auto;}
.btn_s{width:30px; height:30px;}
.ctn_form{border:0; width: 73px;
    height: 28px;text-align:center; 
    font-weight:bold;
    }
.option_item_form>table{width:100%}
#tableOption span{margin:0 10px;}
#tableOption{width:100%}
#tableOption td:first-child{width:100px}
#tableOption td:nth-child(2){width:100px}
#tableOption td:nth-child(3){float:right}
#optionWrap{border-top:2px solid #9b7f5b}
#pointTxt1{text-align:center; margin:5px 0;}
#pointTxt2{text-align:center; margin:5px 0;}
#point{font-weight:bold; font-size:1.5em; color:#9b7f5b}
#btnMoveMember{
	width:125px; height:35px;
	background-color:#3A3125;
	padding: 5px 15px;
	}
.charge_wrap{width:100%; position:sticky;
			bottom:0px; background-color:#fff;
			border-top:2px solid #9b7f5b
			}
.charge_content{width:100%;height:100px;
				padding:20px 0;
			   }
.charge_prev{float:left;
			width: 160px;
			vertical-align: middle;}
.charge_box{width:600px;height:50px;
			float:right;text-align:right;
			padding-left: 10px;vertical-align: middle;}
.charge_btn_box{width:300px; height:50px;
	  text-align:right;vertical-align: middle;}
.charge_btn_size{width:140px; height:50px;}
.charge_total_p{text-align: left;
    			padding-top: 1px;vertical-align: middle;}
.charge_total_p dd{color: #362311;
    font-size: 16px;
    font-weight: bold; float: right;}

/*rsv 고객정보:  */

	